nav(role='navigation')
  if user
    //- User *is* logged In
    ul
      li
        a(href='/explorer') API Explorer
      li(class=url=='/auth/account'?'active':undefined)
        a(href='/auth/account') View Account
      li
        a(href='/auth/logout') Log Out
  else
    //- User is *not* Logged In
    ul
      li(class=url=='/'?'active':undefined)
        a(href='/') Home
      li
        a(href='/explorer') API Explorer
      li(class=url=='/'?'active':undefined)
        a(href='/login') Log in
      li(class=url=='/signup'?'active':undefined)
        a(href='/signup') Sign Up
