section
  form(action="#{redirectUrl}" method="post")
    fieldset
      legend Password reset form
      div
        label (for="password")New password:
        input (type="text" name="newPassword")
      div
        label (for="confirmation") Confirm new password:
        input (type="password" name="confirmation")
      
      div
        input (type="submit" value="Reset password")
      