extends ./layouts/layout

block content
  h3 password
  form(action="#{redirectUrl}" method="post")
    div
      label(for="password") New password:
      input(type="text" name="newPassword")
    div
      label(for="confirmation") Confirm new password:
      input(type="password" name="confirmation")
    div
      input(type="submit" value="Reset password")
