extends ./layouts/layout

block content
  h3 password
  form(action="/request-password-reset" method="post")
    div
      label(for="email") Email
      input(type="email" name="email")
    div
      input(type="submit" value="Reset password")