extends ../layouts/layout

block content
  h1 Passport Authentication
  h1 Sample Functionality
  p In this sample application you can:
  ul
    li
      a(href='/login') Login to your account using social accounts
