extends ../layouts/layout

block content
  .row
    h1 Login:
    ul
      li
        a.btn.btn-primary(href="/auth/facebook") Login with Facebook
      li
        a.btn.btn-primary(href="/auth/google") Login with Google
      li
        a.btn.btn-primary(href="/auth/twitter") Login with Twitter
    br
    if (messages.error)
      p
        span(style="color:red")= messages.error