extends ../layouts/layout

block content
  h2 Third Party Profile(s)
  p
    if user.profiles.length !== 0
      each val in user.profiles
        h4= val.provider + ':'
        p= JSON.stringify(val)
    else
      | NONE
  h2 Linked Account(s)
  ul
    li
      a(href="/link/facebook") Link Facebook
    li
      a(href="/link/google") Link Google
    li
      a(href="/api/userData/csvexport") get csv
  p
    if user.accounts.length !== 0
      each val in user.accounts
        h4= val.provider + ':'
        p= JSON.stringify(val)
    else
      | NONE
